# Logical Agents


**_Author: Jessica Cervi_**

**Expected time = 1.5 hours**

**Total points = 75 points**

## Assignment Overview

This assignment is designed to reinforce your knowledge about Logical Agents. In the first part of the assignment, you will explore and contribute to an implementation of the Wumpus world game. The Wumpus Worldâ€™s agent is an example of a knowledge-based agent that represents knowledge representation, reasoning, and planning. 
In the second part of the assignment, you will work on propositional logic. In particular, we will
implement functions for printing truth tables for formulas with two variables. We will conclude this second part of the assignment by implementing a function to print to truth table for formulas with more than two variables.
The last part of the assignment focuses on forward chaining.
Forward chaining is used to track  how things change over time and to draw conclusions from a priori clauses.


This assignment is designed to build your familiarity and comfort coding in Python while also helping you review key topics from the module. As you progress through the assignment, answers will get increasingly complex. It is important that you adopt a data scientist's mindset when completing this assignment. **Remember to run your code from each cell before submitting your assignment.** Running your code beforehand will notify you of errors and give you a chance to fix your errors before submitting. You should view your Vocareum submission as if you are delivering a final project to your manager or client. 

***Vocareum Tips***
- Do not add arguments or options to functions unless you are specifically asked to. This will cause an error in Vocareum.
- Do not use a library unless you are explicitly asked to in the question. 
- You can download the Grading Report after submitting the assignment. This will include feedback and hints on incorrect questions. 

### Learning Objectives

- Implement a basic version of the Wumpus World game
- Understand Logical Agents and their Python implementation
- Define and visualize truth tables in Python
- Understand the applications of forward chaining
- Create lagged features and a time series for each feature



---

## Index: 

####  Logical Agents

- [Question 1](#q01)
- [Question 2](#q02)
- [Question 3](#q03)
- [Question 4](#q04)
- [Question 5](#q05)
- [Question 6](#q06)
- [Question 7](#q07)

##  Logical Agents

## Propositional Logic


In this section of the assignment, you will implement functions for printing truth tables for formulas with variables. You may use the following helper function `prints`, which prints a tab-delimited list of values.

In [3]:
def prints(values):
    print("\t".join([str(value) for value in values]))

The above function can be used as follows:

In [4]:
prints([True, False, True])

True	False	True

You may also use the following helper function `variables`, which returns a list of the argument names of a function:

In [5]:
def variables(f):
    return list(f.__code__.co_varnames)

The above function can be used as follows:

In [6]:
def h(x,y,z): return (y or x) and (not(z) <= x)

gg = tuple(variables(h))
len(gg)

3

In [7]:
import itertools as itt

In [14]:
def truthtableXY(f):
    ##GETTING THE NUMBER OF ATOMIC PROPOSITIONS ...
    prop = variables(f)
    ##GETTING ALL COMBINATIONS OF PROPOSITIONS VALUES ...
    pvalues = itt.product([True,False],repeat = len(prop))
        
    ##PRINTING HEADER OF TRUTH TABLE ...
    prop.append('formula')
    prints(prop)
    ##PRINTING TRUTH TABLE ...
    for value in pvalues:
        prints((*value,f(*value)))

In [15]:
def f(x,y):
    return x and y

truthtableXY(f)

x	y	formula
True	True	True
True	False	False
False	True	False
False	False	False

In [16]:
def h(x,y,z): return (y or x) and (not(z) <= x)
truthtableXY(h)

x	y	z	formula
True	True	True	False
True	True	False	False
True	False	True	False
True	False	False	False
False	True	True	True
False	True	False	False
False	False	True	False
False	False	False	False

 [Back to top](#Index:) 
<a id='q01'></a>


### Question 1:

*10 points*

Implement a function `truthtableXY(f)` that takes as its input a single function `f` (i.e. a Python function corresponding to a logical formula). You may assume `f` takes two boolean arguments `x` and `y`. The function should print a truth table for `f`.


If you define your function correctly, you should obtain the following output:
```Python
def f(x,y):
    return x and y

truthtableXY(f)

y      x      formula
True   True   True
True   False  False
False  True   False
False  False  False
```

In [15]:
### GRADED
### YOUR SOLUTION HERE
def truthtableXY(f):
    ##GETTING ALL COMBINATIONS OF PROPOSITIONS VALUES ...
    pvalues = itt.product([True,False],repeat = 2)
    
    ##PRINTING HEADER OF TRUTH TABLE ...
    prints(tuple(variables(f) + ['formula']))
    ##PRINTING TRUTH TABLE ...
    for value in pvalues:
        prints((*value,f(*value)))
        
    return None

###
### YOUR CODE HERE
###

In [16]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###

In [18]:
def f(x,y):
    return x and y

truthtableXY(f)

x	y	formula
True	True	True
True	False	False
False	True	False
False	False	False

## CODIGO TOMADO DEL FORO DE DISCUSION

The code reviewed during the OH:

def truthtable(f, values=None):
    if values is None:
        values = []

    # print header
    if values == []:
        prints(variables(f) + ['formula'])

    # write the base case
    if len(values) == len(variables(f)):
        result = f(*values)
        prints(values+ [result])
    else:
        truthtable(f, values + [True])
        truthtable(f, values + [False])

In [19]:
jj = []
len(jj)

0

In [20]:
def qwert(f, values=None):
    if values is None:
        values = []

    # print header
    if len(values) == 0:
        head = variables(f)
        head.append('formula')
        prints(head)

    # write the base case
    if len(values) == len(variables(f)):
        feval = f(*values)
        prints(values + [feval])
#         print('**********************')
#         print(values)
    else:
        #print(values)
        qwert(f, values + [True])
        qwert(f, values + [False])

In [21]:
def h(x,y,z): return (y or x) and (not(z) <= x)
qwert(h)

x	y	z	formula
True	True	True	False
True	True	False	False
True	False	True	False
True	False	False	False
False	True	True	True
False	True	False	False
False	False	True	False
False	False	False	False

 [Back to top](#Index:) 
<a id='q02'></a>


### Question 2:

*20 points*
     
Implement a recursive function `truthtable(f)` that takes as its first argument a single function `f` (i.e. a Python function corresponding to a formula) and as a second argument `values` set to `None` by default. The function `f` may take any non-zero quantity of arguments. The function should print a truth table for `f`.


Your `truthtable()` function should employ the recursive backtracking approach, and can be organized as follows:

- The function should have a second parameter `values` with a default value of [], which will be the list of values the function builds up and eventually passes to `f`.
- If the list `values` is empty, the function should print a row containing all the variable names (one column header per variable).
- If the list `values` is the same length as the list of variables of `f`, the function should print a row of values containing all the values in `values`, as well as the result of applying `f` to that list of values (use the * operator to apply `f` to the list of arguments).
- If the list `values` is shorter than the list of variables of `f`, the function should make recursive calls to truthtable(), with appropriate changes to the arguments of truthtable().

Example:

```Python
def h(x,y,z): return (y or x) and (not(z) <= x)

truthtable(h)
x       y       z       formula
True    True    True    False
True    True    False   False
True    False   True    False
True    False   False   False
False   True    True    True
False   True    False   False
False   False   True    False
False   False   False   False
```

In [22]:
### GRADED

### YOUR SOLUTION HERE
def truthtable(f, values=None):
    if values is None:
        values = []

    ##PRINT THE HEADER ...
    if len(values) == 0:
        head = variables(f)
        head.append('formula')
        prints(head)

    ##EVAL FORMULA IF PARAMETERS ARE COMPLETE ...
    if len(values) == len(variables(f)):
        feval = f(*values)
        prints(values + [feval])
    else:
        truthtable(f, values + [True])
        truthtable(f, values + [False])

###
### YOUR CODE HERE
###

In [23]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###

In [24]:
def h(x,y,z): return (y or x) and (not(z) <= x)
truthtable(h)

x	y	z	formula
True	True	True	False
True	True	False	False
True	False	True	False
True	False	False	False
False	True	True	True
False	True	False	False
False	False	True	False
False	False	False	False

 [Back to top](#Index:) 
<a id='q03'></a>


### Question 3:

*10 points*

Implement a function `rows()` that takes as its first argument a single function `f` (i.e. a Python function corresponding to a formula). The function should return the number of rows in the truth table for `f`.

Remember, the number of rows of a truth table is given by:

$$\text{rows} = 2^{\text{number of variables}}$$

In [25]:
import itertools as itt

### YOUR SOLUTION HERE
def nrows(f):
    ##GETTING THE NUMBER OF ATOMIC PROPOSITIONS ...
    prop = variables(f)
    ##GETTING ALL COMBINATIONS OF PROPOSITIONS VALUES ...
    pvalues = list(itt.product([True,False],repeat = len(prop)))
    return pvalues

In [26]:
def f(x,y):
    return x and y

nrows(f)

[(True, True), (True, False), (False, True), (False, False)]

In [27]:
def h(x,y,z): return (y or x) and (not(z) <= x)

nrows(h)

[(True, True, True),
 (True, True, False),
 (True, False, True),
 (True, False, False),
 (False, True, True),
 (False, True, False),
 (False, False, True),
 (False, False, False)]

In [29]:
### GRADED

### YOUR SOLUTION HERE:
def rows(f):
    ##GETTING THE NUMBER OF ATOMIC PROPOSITIONS ...
    ps = len(variables(f))
    ##GETTING THE NUMBER OF ROWS FOR ALL VARIABLES ...
    nrows = 2**ps
    
    return nrows

In [30]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###

In [33]:
rows(h)

8

## Forward Chaining

Often, analysts are interested in how things change over time. In a typical cross-sectional sample, even if you measure some variable today and then again a year from now, you will probably be sampling different people each time. To get a better handle on how things change for the same people over time, you need to be able to track them and follow up with them a year from now, and in future waves. This is **longitudinal data**.

Longitudinal data is often used in economic and financial studies because it has several advantages over repeated cross-sectional data. For example, because longitudinal data measures how long events last for, it can be used to see if the same group of individuals remain unemployed during a recession, or whether different individuals are moving in and out of unemployment. This can help determine the factors that most affect unemployment.

Python's `scikit-learn` module has a `TimeSeriesSplit` function that can help run Forward Chaining. However, the function makes an assumption that the entire DataFrame is to be treated as one entity, whereas, it is possible that the entire DataFrame is actually composed of groups of data (row-wise) each of which group should be treated to Forward Chaining separately. The [Financial Distress Prediction Data Set](https://www.kaggle.com/shebrahimi/financial-distress) that we will be using here is exactly this type of a data set.


Here's a description of the columns in the dataset:


```
First column: Company represents sample companies

Second column: Time shows different time periods the data belongs to. Time series length varies between 1 to 14 for each company.

Third column: The target variable is denoted by "Financial Distress" if it is greater than -0.50 the company should be considered as healthy (0). Otherwise, it would be regarded as financially distressed (1).

Fourth column to the last column: The features denoted by x1 to x83, are some financial and non-financial characteristics of the sampled companies. These features belong to the previous time period, which should be used to predict whether the company will be financially distressed or not (classification). Feature x80 is a categorical variable.

```

We begin by importing the necessary libraries that we will be using for this section of the assignment.

In [34]:
import numpy as np 
import pandas as pd
import itertools
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, roc_auc_score

import warnings
warnings.filterwarnings('ignore')

Next, we load our data.

In [35]:
# Load the Data
df_finance = pd.read_csv('./data/Financial Distress.csv', index_col=False,
                 dtype={
                     'Company': np.uint16,
                     'Time': np.uint8,
                     'Financial Distress': np.double
                 })

As usual, we perform some exploratory data analysis to better understand our data.

In [36]:
df_finance.head()

,Company,Time,Financial Distress,x1,x2,x3,x4,x5,x6,x7,...,x74,x75,x76,x77,x78,x79,x80,x81,x82,x83
0,1,1,0.010636,1.2810,0.022934,0.87454,1.21640,0.060940,0.188270,0.52510,...,85.437,27.07,26.102,16.000,16.0,0.2,22,0.060390,30,49
1,1,2,-0.455970,1.2700,0.006454,0.82067,1.00490,-0.014080,0.181040,0.62288,...,107.090,31.31,30.194,17.000,16.0,0.4,22,0.010636,31,50
2,1,3,-0.325390,1.0529,-0.059379,0.92242,0.72926,0.020476,0.044865,0.43292,...,120.870,36.07,35.273,17.000,15.0,-0.2,22,-0.455970,32,51
3,1,4,-0.566570,1.1131,-0.015229,0.85888,0.80974,0.076037,0.091033,0.67546,...,54.806,39.80,38.377,17.167,16.0,5.6,22,-0.325390,33,52
4,2,1,1.357300,1.0623,0.107020,0.81460,0.83593,0.199960,0.047800,0.74200,...,85.437,27.07,26.102,16.000,16.0,0.2,29,1.251000,7,27

Next, we look at the number of unique companies and the number of time periods for each company.

Reference for _`crosstab`_ **pandas function**

- ref: https://pbpython.com/pandas-crosstab.html

In [37]:
# Look at the Data
print("Number of unique companies:", df_finance.Company.unique().shape[0])  # 422 companies
print("Number of time periods per company:")
display(pd.crosstab(df_finance.Company, df_finance.Time.sum()))  # Some companies have < 5 time periods

Number of unique companies: 422
Number of time periods per company:

col_0    27644
Company
1            4
2           14
3            1
4           14
5           14
6           14
7           11
8           14
9           14
10          14
11           9
12           1
13           2
14           8
15           6
16           5
17           9
18           6
19           3
20          14
21          14
22          14
23          14
24          14
25          14
26          14
27           2
28          14
29          14
30          14
...        ...
393          3
394         14
395         11
396          1
397          5
398          2
399          5
400          3
401          5
402          6
403         13
404          3
405          7
406          2
407          3
408         14
409         13
410         12
411          4
412          3
413          1
414          2
415          7
416          9
417          4
418          2
419          3
420          3
421          6
422          8

[422 rows x 1 columns]

Finally, let's take a look at the data based on Groups per Company

Reference for _`groupby`_ **pandas function**

- ref: https://realpython.com/pandas-groupby/

In [38]:
grouped_company = df_finance.groupby('Company')
grouped_company.head()

,Company,Time,Financial Distress,x1,x2,x3,x4,x5,x6,x7,...,x74,x75,x76,x77,x78,x79,x80,x81,x82,x83
0,1,1,0.010636,1.28100,0.022934,0.874540,1.21640,0.060940,0.188270,0.52510,...,85.437,27.070,26.102,16.000,16.00,0.20,22,0.060390,30,49
1,1,2,-0.455970,1.27000,0.006454,0.820670,1.00490,-0.014080,0.181040,0.62288,...,107.090,31.310,30.194,17.000,16.00,0.40,22,0.010636,31,50
2,1,3,-0.325390,1.05290,-0.059379,0.922420,0.72926,0.020476,0.044865,0.43292,...,120.870,36.070,35.273,17.000,15.00,-0.20,22,-0.455970,32,51
3,1,4,-0.566570,1.11310,-0.015229,0.858880,0.80974,0.076037,0.091033,0.67546,...,54.806,39.800,38.377,17.167,16.00,5.60,22,-0.325390,33,52
4,2,1,1.357300,1.06230,0.107020,0.814600,0.83593,0.199960,0.047800,0.74200,...,85.437,27.070,26.102,16.000,16.00,0.20,29,1.251000,7,27
5,2,2,0.007188,1.05580,0.081916,0.879490,0.68673,0.142630,0.043102,0.77198,...,107.090,31.310,30.194,17.000,16.00,0.40,29,1.357300,8,28
6,2,3,1.200200,0.97059,0.076064,0.906770,0.80980,0.165920,-0.024649,0.73660,...,120.870,36.070,35.273,17.000,15.00,-0.20,29,0.007188,9,29
7,2,4,2.234800,1.05900,0.130200,0.818110,0.87599,0.234450,0.045576,0.78727,...,54.806,39.800,38.377,17.167,16.00,5.60,29,1.200200,10,30
8,2,5,1.340500,1.12450,0.147840,0.758710,1.07990,0.276440,0.089408,0.80356,...,59.806,44.530,42.822,15.500,14.00,2.10,29,2.234800,11,31
18,3,1,-1.659900,0.87440,-0.034676,0.793500,0.60952,-0.002632,-0.086847,0.50609,...,85.437,27.070,26.102,16.000,16.00,0.20,25,-0.303170,8,37
19,4,1,0.022750,0.83537,0.064310,0.614300,0.49359,0.097075,-0.096852,0.18896,...,85.437,27.070,26.102,16.000,16.00,0.20,12,0.006922,28,44
20,4,2,0.003775,0.93286,0.042339,0.615280,0.49212,0.087860,-0.039606,0.19090,...,107.090,31.310,30.194,17.000,16.00,0.40,12,0.022750,29,45
21,4,3,0.000183,0.93575,0.051198,0.648230,0.63071,0.089359,-0.040794,0.19663,...,120.870,36.070,35.273,17.000,15.00,-0.20,12,0.003775,30,46
22,4,4,0.222530,0.92927,0.044282,0.658100,0.62542,0.069817,-0.046241,0.19544,...,54.806,39.800,38.377,17.167,16.00,5.60,12,0.000183,31,47
23,4,5,0.446620,1.08600,0.080419,0.570180,0.66855,0.112400,0.048281,0.33217,...,59.806,44.530,42.822,15.500,14.00,2.10,12,0.222530,32,48
33,5,1,0.074550,1.21010,0.118390,0.766030,0.72283,0.156880,0.152070,0.32132,...,85.437,27.070,26.102,16.000,16.00,0.20,23,0.965240,12,37
34,5,2,0.003823,1.14860,0.151200,0.781870,0.72707,0.191980,0.112080,0.48278,...,107.090,31.310,30.194,17.000,16.00,0.40,23,0.074550,13,38
35,5,3,0.195980,1.10690,0.140450,0.806830,0.49922,0.117300,0.081653,0.44606,...,120.870,36.070,35.273,17.000,15.00,-0.20,23,0.003823,14,39
36,5,4,0.955380,1.02430,0.102780,0.840270,0.45182,0.073896,0.019752,0.45144,...,54.806,39.800,38.377,17.167,16.00,5.60,23,0.195980,15,40
37,5,5,1.676400,1.10740,0.067822,0.824470,0.43839,0.001290,0.086120,0.63442,...,59.806,44.530,42.822,15.500,14.00,2.10,23,0.955380,16,41
47,6,1,0.551790,0.75482,0.049331,0.850580,0.74077,0.070051,-0.157060,0.28857,...,85.437,27.070,26.102,16.000,16.00,0.20,9,0.449800,10,41
48,6,2,0.903170,0.70755,0.072754,0.863060,0.89799,0.155000,-0.216690,0.29038,...,107.090,31.310,30.194,17.000,16.00,0.40,9,0.551790,11,42
49,6,3,0.957660,0.73538,0.071925,0.861710,0.80940,0.120650,-0.211680,0.39235,...,120.870,36.070,35.273,17.000,15.00,-0.20,9,0.903170,12,43
50,6,4,0.305480,0.58868,0.085379,0.836250,0.79581,0.127560,-0.323590,0.35138,...,54.806,39.800,38.377,17.167,16.00,5.60,9,0.957660,13,44
51,6,5,0.527790,0.69931,0.035085,0.894970,0.68900,0.116910,-0.226630,0.47128,...,59.806,44.530,42.822,15.500,14.00,2.10,9,0.305480,14,45
61,7,1,0.890430,1.03010,0.032416,0.897130,0.51140,0.082853,0.018201,0.42797,...,85.437,27.070,26.102,16.000,16.00,0.20,9,0.465500,9,44
62,7,2,0.156610,1.11090,0.050721,0.850060,0.65360,0.114660,0.067192,0.27155,...,107.090,31.310,30.194,17.000,16.00,0.40,9,0.890430,10,45
63,7,3,0.252770,1.01930,0.076679,0.870190,0.93517,0.155310,0.014028,0.26007,...,120.870,36.070,35.273,17.000,15.00,-0.20,9,0.156610,11,46
64,7,4,0.864310,0.99425,0.086791,0.893790,0.81001,0.147490,-0.004705,0.34322,...,54.806,39.800,38.377,17.167,16.00,5.60,9,0.252770,12,47
65,7,5,0.909040,0.96542,0.060374,0.857150,0.79762,0.129780,-0.026530,0.51771,...,59.806,44.530,42.822,15.500,14.00,2.10,9,0.864310,13,48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3632,415,5,2.886400,1.31060,0.090728,0.793600,0.47114,0.114560,0.209070,0.82488,...,59.806,44.530,42.822,15.500,14.00,2.10,11,3.280600,3,41
3633,415,6,2.231600,1.06750,0.019159,0.876250,0.27786,-0.035879,0.054349,0.71045,...,66.262,52.740,49.206,15.500,12.00,-6.40,11,2.886400,4,42
3634,415,7,1.319100,1.03300,0.010765,0.901900,0.46936,0.007927,0.027896,0.65515,...,79.951,66.120,59.471,18.000,12.00,-13.40,11,2.231600,5,43
3637,416,6,0.545650,1.36240,0.113770,0.513480,0.22232,0.069435,0.132070,1.10420,...,66.262,52.740,49.206,15.500,12.00,-6.40,8,0.307590,4,15
3638,416,7,0.965080,1.11420,0.099410,0.631660,0.34720,0.077566,0.060492,0.95272,...,79.951,66.120,59.471,18.000,12.00,-13.40,8,0.545650,5,16
3639,416,8,1.346000,1.13450,0.098354,0.660500,0.51159,0.099166,0.080182,1.02780,...,84.660,73.200,63.880,16.000,12.00,1.20,8,0.965080,6,17
3640,416,9,1.637000,1.00580,0.071479,0.668300,0.40382,0.080616,0.003597,0.92864,...,93.883,82.300,74.497,16.500,13.00,0.60,8,1.346000,7,18
3641,416,10,1.490400,1.07860,0.081701,0.663600,0.29207,0.087330,0.049328,0.97176,...,100.000,100.000,100.000,17.125,14.50,-7.00,8,1.637000,8,19
3646,417,11,0.285230,2.69320,0.041913,0.354190,0.66525,0.020270,0.599150,1.78310,...,91.500,130.500,132.400,20.000,14.50,-16.00,33,0.074481,2,2
3647,417,12,0.112630,38.79300,0.205380,0.024613,0.93185,0.064033,0.910940,13.81000,...,87.100,175.900,178.100,20.000,14.50,-20.20,33,0.285230,3,3
3648,417,13,0.088544,4.56500,0.022342,0.207690,1.59260,-0.021597,0.735060,4.36740,...,92.900,203.200,204.500,22.000,22.00,6.40,33,0.112630,4,4
3649,417,14,0.041872,29.23300,0.043577,0.034891,0.13391,-0.028079,0.929550,28.79300,...,91.700,227.500,214.500,21.000,20.50,8.60,33,0.088544,5,5
3650,418,13,0.302730,1.41940,0.058992,0.594270,0.69272,0.067815,0.231350,0.87608,...,92.900,203.200,204.500,22.000,22.00,6.40,8,0.304850,1,19
3651,418,14,0.172420,1.43780,0.060175,0.603330,0.92751,0.078734,0.239110,0.93877,...,91.700,227.500,214.500,21.000,20.50,8.60,8,0.302730,2,20
3652,419,12,3.649700,2.22040,0.324810,0.379870,0.82762,0.428100,0.388700,1.49710,...,87.100,175.900,178.100,20.000,14.50,-20.20,14,2.473500,2,30
3653,419,13,3.772800,2.27690,0.296370,0.388330,0.78804,0.392570,0.422500,1.50070,...,92.900,203.200,204.500,22.000,22.00,6.40,14,3.649700,3,31
3654,419,14,3.331600,2.01370,0.198120,0.455180,0.56305,0.261400,0.396140,1.18680,...,91.700,227.500,214.500,21.000,20.50,8.60,14,3.772800,4,32
3655,420,1,1.343400,1.61950,0.152070,0.750980,0.77404,0.199840,0.353190,0.83492,...,75.461,24.318,23.776,15.250,16.75,4.25,11,4.847400,2,32
3656,420,2,0.009381,1.59870,0.110290,0.715740,0.86610,0.149900,0.339820,0.99443,...,90.850,28.130,27.125,16.250,16.00,0.25,11,1.343400,3,33
3657,420,3,-2.549700,1.33080,0.005893,0.831010,0.49689,0.035941,0.236340,0.85408,...,110.530,32.500,31.464,17.000,15.75,0.25,11,0.009381,4,34
3658,421,9,8.132900,3.23910,0.184020,0.755550,0.63106,0.190760,0.268900,3.19430,...,93.883,82.300,74.497,16.500,13.00,0.60,37,5.734800,1,8
3659,421,10,9.370200,1.83900,0.207880,0.723810,0.67291,0.213390,0.154050,1.77080,...,100.000,100.000,100.000,17.125,14.50,-7.00,37,8.132900,2,9
3660,421,11,11.184000,1.47880,0.224580,0.727530,0.70858,0.217200,0.118180,1.36210,...,91.500,130.500,132.400,20.000,14.50,-16.00,37,9.370200,3,10
3661,421,12,6.312400,0.91726,0.225740,0.731190,0.70651,0.212760,-0.026347,0.86273,...,87.100,175.900,178.100,20.000,14.50,-20.20,37,11.184000,4,11
3662,421,13,7.245000,0.75204,0.221330,0.740060,0.71454,0.231850,-0.092425,0.70019,...,92.900,203.200,204.500,22.000,22.00,6.40,37,6.312400,5,12
3664,422,7,0.351440,1.34490,0.026538,0.245330,0.03792,0.026432,0.083908,1.27210,...,79.951,66.120,59.471,18.000,12.00,-13.40,37,0.107580,1,38
3665,422,8,0.495630,2.06090,0.149950,0.189730,0.14381,0.132120,0.199190,1.98920,...,84.660,73.200,63.880,16.000,12.00,1.20,37,0.351440,2,39
3666,422,9,0.436380,2.58500,0.227410,0.148620,0.13542,0.124480,0.231370,2.53960,...,93.883,82.300,74.497,16.500,13.00,0.60,37,0.495630,3,40
3667,422,10,0.438020,2.26050,0.202890,0.160370,0.18588,0.175970,0.198400,2.22360,...,100.000,100.000,100.000,17.125,14.50,-7.00,37,0.436380,4,41
3668,422,11,0.482410,1.96150,0.216440,0.200950,0.21642,0.203590,0.189870,1.93820,...,91.500,130.500,132.400,20.000,14.50,-16.00,37,0.438020,5,42

### Challenges with Straightforward Time Series Split:

As can be seen based on the above code output, although we have 1 common time variable (`Time`), we have multiple companies since we may have multiple rows belonging to the same Time value (For example, 1 row for Time 1 + Company 1, another row for Time 1 + Company 2 etc).

This prevents us from using `sklearn.model_selection.TimeSeriesSplit`, as the assumption of the function with each row representing a data point from a unique instance of time (and the rows are arranged as per increasing value of time).

We can still achieve our goal of implementing Forward Chaining by:

- Split the Data Set into multiple groups - 1 group per Company
- For each group, derive the indexes for Forward Chaining
- Combine the list of indexes per group into 1 final index list

Reference for _`get-dummies`_ and _`concat`_ **pandas function**

- ref: https://towardsdatascience.com/the-dummys-guide-to-creating-dummy-variables-f21faddb1d40

 [Back to top](#Index:) 
<a id='q04'></a>


### Question 4:

*5 points*
     
As mentioned in the Data Dictionary, one of the features is actually a categorical feature. We will therefore create Dummy columns.


Use the function `get_dummies()` to transform the column `x80` into Dummy columns. Make sure to set the parameter `prefix` equal to `dummy`, `columns` equal to `x80` and `drop_first` equal to `True`.

In [40]:
uu = pd.get_dummies(df_finance[['x80']], prefix = 'dummy', columns = ['x80'], drop_first = True, dtype = int)
uu.head()
# grouped_company[['x80','Company']]

,dummy_2,dummy_3,dummy_4,dummy_5,dummy_6,dummy_7,dummy_8,dummy_9,dummy_10,dummy_11,...,dummy_28,dummy_29,dummy_30,dummy_31,dummy_32,dummy_33,dummy_34,dummy_35,dummy_36,dummy_37
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [41]:
### GRADED

### YOUR SOLUTION HERE
dummy_cols = pd.get_dummies(df_finance[['x80']], prefix = 'dummy', columns = ['x80'], drop_first = True)

###
### YOUR CODE HERE
###

In [42]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###

 [Back to top](#Index:) 
<a id='q5'></a>


### Question 5:

*10 points*
     
Combine `dummy_cols` back with original data set. 
     
Make sure you exclude the column `x80` in the resulting DataFrame. Assign the result to `df_finance_dummy`.

**HINT: Use the function `concat().`**

In [46]:
vv = df_finance.drop(['x80'], axis = 1)
df_w_dummy = pd.concat([vv, dummy_cols],axis = 1)
df_w_dummy.head()

,Company,Time,Financial Distress,x1,x2,x3,x4,x5,x6,x7,...,dummy_28,dummy_29,dummy_30,dummy_31,dummy_32,dummy_33,dummy_34,dummy_35,dummy_36,dummy_37
0,1,1,0.010636,1.2810,0.022934,0.87454,1.21640,0.060940,0.188270,0.52510,...,0,0,0,0,0,0,0,0,0,0
1,1,2,-0.455970,1.2700,0.006454,0.82067,1.00490,-0.014080,0.181040,0.62288,...,0,0,0,0,0,0,0,0,0,0
2,1,3,-0.325390,1.0529,-0.059379,0.92242,0.72926,0.020476,0.044865,0.43292,...,0,0,0,0,0,0,0,0,0,0
3,1,4,-0.566570,1.1131,-0.015229,0.85888,0.80974,0.076037,0.091033,0.67546,...,0,0,0,0,0,0,0,0,0,0
4,2,1,1.357300,1.0623,0.107020,0.81460,0.83593,0.199960,0.047800,0.74200,...,0,1,0,0,0,0,0,0,0,0

In [47]:
### GRADED

### YOUR SOLUTION HERE
df_temp = df_finance.drop(['x80'], axis = 1)
df_finance_dummy = pd.concat([df_temp, dummy_cols],axis = 1)

###
### YOUR CODE HERE
###

In [48]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###

### Creating Lagged Features

With the above pre-processing step out of the way, we will now move on to the 2nd piece of Feature Engineering - creating lagged features (again, lagged features per group).

Below, we provide a helper function `lagged_features` to create lagged features.

In [49]:
# Helper function to create lagged features
def lagged_features(df_long, lag_features, window=2, lag_prefix='lag', lag_prefix_sep='_'):
    """
    Function calculates lagged features (only for columns mentioned in lag_features)
    based on time_feature column. The highest value of time_feature is retained as a row
    and the lower values of time_feature are added as lagged_features
    
    :param df_long: Data frame (longitudinal) to create lagged features on
    :param lag_features: A list of columns to be lagged
    :param window: How many lags to perform (0 means no lagged feature will be produced)
    :param lag_prefix: Prefix to name lagged columns.
    :param lag_prefix_sep: Separator to use while naming lagged columns
    :return: Data Frame with lagged features appended as columns
    """
    if not isinstance(lag_features, list):
        # So that while sub-setting DataFrame, we don't get a Series
        lag_features = [lag_features]

    if window <= 0:
        return df_long

    df_working = df_long[lag_features].copy()
    df_result = df_long.copy()
    for i in range(1, window+1):
        df_temp = df_working.shift(i)
        df_temp.columns = [lag_prefix + lag_prefix_sep + str(i) + lag_prefix_sep + x
                           for x in df_temp.columns]
        df_result = pd.concat([df_result.reset_index(drop=True),
                               df_temp.reset_index(drop=True)],
                               axis=1)

    return df_result

Now, we split the dataset into groups (based on companies) and create lagged features for each group.

In [50]:
grouped_company = df_finance_dummy.groupby('Company')
cols_to_lag = [col for col in df_finance_dummy.columns if col.startswith('x')]

#create empty DataFrame
df_cross = pd.DataFrame()

for name, group in grouped_company:
    # For each group, calculate lagged features and rbind to df_cross
    print('----------------------------------------------------')
    print('Working on group:', name, 'with shape', group.shape)
    df_cross = pd.concat([df_cross.reset_index(drop=True),
                          lagged_features(group, cols_to_lag).reset_index(drop=True)],
                         axis=0)
    print('Shape of df_cross', df_cross.shape)
    
# Remove rows with NAs
df_cross = df_cross.dropna()
df_cross.head()

----------------------------------------------------
Working on group: 1 with shape (4, 121)
Shape of df_cross (4, 285)
----------------------------------------------------
Working on group: 2 with shape (14, 121)
Shape of df_cross (18, 285)
----------------------------------------------------
Working on group: 3 with shape (1, 121)
Shape of df_cross (19, 285)
----------------------------------------------------
Working on group: 4 with shape (14, 121)
Shape of df_cross (33, 285)
----------------------------------------------------
Working on group: 5 with shape (14, 121)
Shape of df_cross (47, 285)
----------------------------------------------------
Working on group: 6 with shape (14, 121)
Shape of df_cross (61, 285)
----------------------------------------------------
Working on group: 7 with shape (11, 121)
Shape of df_cross (72, 285)
----------------------------------------------------
Working on group: 8 with shape (14, 121)
Shape of df_cross (86, 285)
----------------------------------------------------
Working on group: 9 with shape (14, 121)
Shape of df_cross (100, 285)
----------------------------------------------------
Working on group: 10 with shape (14, 121)
Shape of df_cross (114, 285)
----------------------------------------------------
Working on group: 11 with shape (9, 121)
Shape of df_cross (123, 285)
----------------------------------------------------
Working on group: 12 with shape (1, 121)
Shape of df_cross (124, 285)
----------------------------------------------------
Working on group: 13 with shape (2, 121)
Shape of df_cross (126, 285)
----------------------------------------------------
Working on group: 14 with shape (8, 121)
Shape of df_cross (134, 285)
----------------------------------------------------
Working on group: 15 with shape (6, 121)
Shape of df_cross (140, 285)
----------------------------------------------------
Working on group: 16 with shape (5, 121)
Shape of df_cross (145, 285)
----------------------------------------------------
Working on group: 17 with shape (9, 121)
Shape of df_cross (154, 285)
----------------------------------------------------
Working on group: 18 with shape (6, 121)
Shape of df_cross (160, 285)
----------------------------------------------------
Working on group: 19 with shape (3, 121)
Shape of df_cross (163, 285)
----------------------------------------------------
Working on group: 20 with shape (14, 121)
Shape of df_cross (177, 285)
----------------------------------------------------
Working on group: 21 with shape (14, 121)
Shape of df_cross (191, 285)
----------------------------------------------------
Working on group: 22 with shape (14, 121)
Shape of df_cross (205, 285)
----------------------------------------------------
Working on group: 23 with shape (14, 121)
Shape of df_cross (219, 285)
----------------------------------------------------
Working on group: 24 with shape (14, 121)
Shape of df_cross (233, 285)
----------------------------------------------------
Working on group: 25 with shape (14, 121)
Shape of df_cross (247, 285)
----------------------------------------------------
Working on group: 26 with shape (14, 121)
Shape of df_cross (261, 285)
----------------------------------------------------
Working on group: 27 with shape (2, 121)
Shape of df_cross (263, 285)
----------------------------------------------------
Working on group: 28 with shape (14, 121)
Shape of df_cross (277, 285)
----------------------------------------------------
Working on group: 29 with shape (14, 121)
Shape of df_cross (291, 285)
----------------------------------------------------
Working on group: 30 with shape (14, 121)
Shape of df_cross (305, 285)
----------------------------------------------------
Working on group: 31 with shape (14, 121)
Shape of df_cross (319, 285)
----------------------------------------------------
Working on group: 32 with shape (13, 121)
Shape of df_cross (332, 285)
----------------------------------------------------
Working on group: 33 with shape (14, 121)
Shape of df_cross (346, 285)
----------------------------------------------------
Working on group: 34 with shape (14, 121)
Shape of df_cross (360, 285)
----------------------------------------------------
Working on group: 35 with shape (9, 121)
Shape of df_cross (369, 285)
----------------------------------------------------
Working on group: 36 with shape (9, 121)
Shape of df_cross (378, 285)
----------------------------------------------------
Working on group: 37 with shape (10, 121)
Shape of df_cross (388, 285)
----------------------------------------------------
Working on group: 38 with shape (14, 121)
Shape of df_cross (402, 285)
----------------------------------------------------
Working on group: 39 with shape (14, 121)
Shape of df_cross (416, 285)
----------------------------------------------------
Working on group: 40 with shape (14, 121)
Shape of df_cross (430, 285)
----------------------------------------------------
Working on group: 41 with shape (9, 121)
Shape of df_cross (439, 285)
----------------------------------------------------
Working on group: 42 with shape (1, 121)
Shape of df_cross (440, 285)
----------------------------------------------------
Working on group: 43 with shape (14, 121)
Shape of df_cross (454, 285)
----------------------------------------------------
Working on group: 44 with shape (9, 121)
Shape of df_cross (463, 285)
----------------------------------------------------
Working on group: 45 with shape (14, 121)
Shape of df_cross (477, 285)
----------------------------------------------------
Working on group: 46 with shape (13, 121)
Shape of df_cross (490, 285)
----------------------------------------------------
Working on group: 47 with shape (14, 121)
Shape of df_cross (504, 285)
----------------------------------------------------
Working on group: 48 with shape (14, 121)
Shape of df_cross (518, 285)
----------------------------------------------------
Working on group: 49 with shape (14, 121)
Shape of df_cross (532, 285)
----------------------------------------------------
Working on group: 50 with shape (14, 121)
Shape of df_cross (546, 285)
----------------------------------------------------
Working on group: 51 with shape (14, 121)
Shape of df_cross (560, 285)
----------------------------------------------------
Working on group: 52 with shape (14, 121)
Shape of df_cross (574, 285)
----------------------------------------------------
Working on group: 53 with shape (14, 121)
Shape of df_cross (588, 285)
----------------------------------------------------
Working on group: 54 with shape (14, 121)
Shape of df_cross (602, 285)
----------------------------------------------------
Working on group: 55 with shape (14, 121)
Shape of df_cross (616, 285)
----------------------------------------------------
Working on group: 56 with shape (14, 121)
Shape of df_cross (630, 285)
----------------------------------------------------
Working on group: 57 with shape (14, 121)
Shape of df_cross (644, 285)
----------------------------------------------------
Working on group: 58 with shape (14, 121)
Shape of df_cross (658, 285)
----------------------------------------------------
Working on group: 59 with shape (14, 121)
Shape of df_cross (672, 285)
----------------------------------------------------
Working on group: 60 with shape (14, 121)
Shape of df_cross (686, 285)
----------------------------------------------------
Working on group: 61 with shape (14, 121)
Shape of df_cross (700, 285)
----------------------------------------------------
Working on group: 62 with shape (14, 121)
Shape of df_cross (714, 285)
----------------------------------------------------
Working on group: 63 with shape (2, 121)
Shape of df_cross (716, 285)
----------------------------------------------------
Working on group: 64 with shape (14, 121)
Shape of df_cross (730, 285)
----------------------------------------------------
Working on group: 65 with shape (14, 121)
Shape of df_cross (744, 285)
----------------------------------------------------
Working on group: 66 with shape (14, 121)
Shape of df_cross (758, 285)
----------------------------------------------------
Working on group: 67 with shape (11, 121)
Shape of df_cross (769, 285)
----------------------------------------------------
Working on group: 68 with shape (12, 121)
Shape of df_cross (781, 285)
----------------------------------------------------
Working on group: 69 with shape (8, 121)
Shape of df_cross (789, 285)
----------------------------------------------------
Working on group: 70 with shape (14, 121)
Shape of df_cross (803, 285)
----------------------------------------------------
Working on group: 71 with shape (1, 121)
Shape of df_cross (804, 285)
----------------------------------------------------
Working on group: 72 with shape (14, 121)
Shape of df_cross (818, 285)
----------------------------------------------------
Working on group: 73 with shape (14, 121)
Shape of df_cross (832, 285)
----------------------------------------------------
Working on group: 74 with shape (14, 121)
Shape of df_cross (846, 285)
----------------------------------------------------
Working on group: 75 with shape (14, 121)
Shape of df_cross (860, 285)
----------------------------------------------------
Working on group: 76 with shape (14, 121)

Shape of df_cross (874, 285)
----------------------------------------------------
Working on group: 77 with shape (14, 121)
Shape of df_cross (888, 285)
----------------------------------------------------
Working on group: 78 with shape (14, 121)
Shape of df_cross (902, 285)
----------------------------------------------------
Working on group: 79 with shape (14, 121)
Shape of df_cross (916, 285)
----------------------------------------------------
Working on group: 80 with shape (14, 121)
Shape of df_cross (930, 285)
----------------------------------------------------
Working on group: 81 with shape (13, 121)
Shape of df_cross (943, 285)
----------------------------------------------------
Working on group: 82 with shape (3, 121)
Shape of df_cross (946, 285)
----------------------------------------------------
Working on group: 83 with shape (8, 121)
Shape of df_cross (954, 285)
----------------------------------------------------
Working on group: 84 with shape (14, 121)
Shape of df_cross (968, 285)
----------------------------------------------------
Working on group: 85 with shape (14, 121)
Shape of df_cross (982, 285)
----------------------------------------------------
Working on group: 86 with shape (14, 121)
Shape of df_cross (996, 285)
----------------------------------------------------
Working on group: 87 with shape (8, 121)
Shape of df_cross (1004, 285)
----------------------------------------------------
Working on group: 88 with shape (2, 121)
Shape of df_cross (1006, 285)
----------------------------------------------------
Working on group: 89 with shape (1, 121)
Shape of df_cross (1007, 285)
----------------------------------------------------
Working on group: 90 with shape (14, 121)
Shape of df_cross (1021, 285)
----------------------------------------------------
Working on group: 91 with shape (6, 121)
Shape of df_cross (1027, 285)
----------------------------------------------------
Working on group: 92 with shape (14, 121)
Shape of df_cross (1041, 285)
----------------------------------------------------
Working on group: 93 with shape (1, 121)
Shape of df_cross (1042, 285)
----------------------------------------------------
Working on group: 94 with shape (14, 121)
Shape of df_cross (1056, 285)
----------------------------------------------------
Working on group: 95 with shape (14, 121)
Shape of df_cross (1070, 285)
----------------------------------------------------
Working on group: 96 with shape (14, 121)
Shape of df_cross (1084, 285)
----------------------------------------------------
Working on group: 97 with shape (14, 121)
Shape of df_cross (1098, 285)
----------------------------------------------------
Working on group: 98 with shape (14, 121)
Shape of df_cross (1112, 285)
----------------------------------------------------
Working on group: 99 with shape (10, 121)
Shape of df_cross (1122, 285)
----------------------------------------------------
Working on group: 100 with shape (14, 121)
Shape of df_cross (1136, 285)
----------------------------------------------------
Working on group: 101 with shape (14, 121)
Shape of df_cross (1150, 285)
----------------------------------------------------
Working on group: 102 with shape (14, 121)
Shape of df_cross (1164, 285)
----------------------------------------------------
Working on group: 103 with shape (1, 121)
Shape of df_cross (1165, 285)
----------------------------------------------------
Working on group: 104 with shape (7, 121)
Shape of df_cross (1172, 285)
----------------------------------------------------
Working on group: 105 with shape (3, 121)
Shape of df_cross (1175, 285)
----------------------------------------------------
Working on group: 106 with shape (3, 121)
Shape of df_cross (1178, 285)
----------------------------------------------------
Working on group: 107 with shape (14, 121)
Shape of df_cross (1192, 285)
----------------------------------------------------
Working on group: 108 with shape (11, 121)
Shape of df_cross (1203, 285)
----------------------------------------------------
Working on group: 109 with shape (14, 121)
Shape of df_cross (1217, 285)
----------------------------------------------------
Working on group: 110 with shape (14, 121)
Shape of df_cross (1231, 285)
----------------------------------------------------
Working on group: 111 with shape (6, 121)
Shape of df_cross (1237, 285)
----------------------------------------------------
Working on group: 112 with shape (14, 121)
Shape of df_cross (1251, 285)
----------------------------------------------------
Working on group: 113 with shape (2, 121)
Shape of df_cross (1253, 285)
----------------------------------------------------
Working on group: 114 with shape (14, 121)
Shape of df_cross (1267, 285)
----------------------------------------------------
Working on group: 115 with shape (12, 121)
Shape of df_cross (1279, 285)
----------------------------------------------------
Working on group: 116 with shape (14, 121)
Shape of df_cross (1293, 285)
----------------------------------------------------
Working on group: 117 with shape (14, 121)
Shape of df_cross (1307, 285)
----------------------------------------------------
Working on group: 118 with shape (13, 121)
Shape of df_cross (1320, 285)
----------------------------------------------------
Working on group: 119 with shape (7, 121)
Shape of df_cross (1327, 285)
----------------------------------------------------
Working on group: 120 with shape (7, 121)
Shape of df_cross (1334, 285)
----------------------------------------------------
Working on group: 121 with shape (13, 121)
Shape of df_cross (1347, 285)
----------------------------------------------------
Working on group: 122 with shape (7, 121)
Shape of df_cross (1354, 285)
----------------------------------------------------
Working on group: 123 with shape (6, 121)
Shape of df_cross (1360, 285)
----------------------------------------------------
Working on group: 124 with shape (13, 121)
Shape of df_cross (1373, 285)
----------------------------------------------------
Working on group: 125 with shape (14, 121)
Shape of df_cross (1387, 285)
----------------------------------------------------
Working on group: 126 with shape (14, 121)
Shape of df_cross (1401, 285)
----------------------------------------------------
Working on group: 127 with shape (14, 121)
Shape of df_cross (1415, 285)
----------------------------------------------------
Working on group: 128 with shape (14, 121)
Shape of df_cross (1429, 285)
----------------------------------------------------
Working on group: 129 with shape (14, 121)
Shape of df_cross (1443, 285)
----------------------------------------------------
Working on group: 130 with shape (2, 121)
Shape of df_cross (1445, 285)
----------------------------------------------------
Working on group: 131 with shape (14, 121)
Shape of df_cross (1459, 285)
----------------------------------------------------
Working on group: 132 with shape (4, 121)
Shape of df_cross (1463, 285)
----------------------------------------------------
Working on group: 133 with shape (10, 121)
Shape of df_cross (1473, 285)
----------------------------------------------------
Working on group: 134 with shape (2, 121)
Shape of df_cross (1475, 285)
----------------------------------------------------
Working on group: 135 with shape (14, 121)
Shape of df_cross (1489, 285)
----------------------------------------------------
Working on group: 136 with shape (3, 121)
Shape of df_cross (1492, 285)
----------------------------------------------------
Working on group: 137 with shape (14, 121)
Shape of df_cross (1506, 285)
----------------------------------------------------
Working on group: 138 with shape (14, 121)
Shape of df_cross (1520, 285)
----------------------------------------------------
Working on group: 139 with shape (14, 121)
Shape of df_cross (1534, 285)
----------------------------------------------------
Working on group: 140 with shape (8, 121)
Shape of df_cross (1542, 285)
----------------------------------------------------
Working on group: 141 with shape (14, 121)
Shape of df_cross (1556, 285)
----------------------------------------------------

Working on group: 142 with shape (14, 121)
Shape of df_cross (1570, 285)
----------------------------------------------------
Working on group: 143 with shape (14, 121)
Shape of df_cross (1584, 285)
----------------------------------------------------
Working on group: 144 with shape (5, 121)
Shape of df_cross (1589, 285)
----------------------------------------------------
Working on group: 145 with shape (14, 121)
Shape of df_cross (1603, 285)
----------------------------------------------------
Working on group: 146 with shape (14, 121)
Shape of df_cross (1617, 285)
----------------------------------------------------
Working on group: 147 with shape (14, 121)
Shape of df_cross (1631, 285)
----------------------------------------------------
Working on group: 148 with shape (11, 121)
Shape of df_cross (1642, 285)
----------------------------------------------------
Working on group: 149 with shape (14, 121)
Shape of df_cross (1656, 285)
----------------------------------------------------
Working on group: 150 with shape (14, 121)
Shape of df_cross (1670, 285)
----------------------------------------------------
Working on group: 151 with shape (14, 121)
Shape of df_cross (1684, 285)
----------------------------------------------------
Working on group: 152 with shape (14, 121)
Shape of df_cross (1698, 285)
----------------------------------------------------
Working on group: 153 with shape (14, 121)
Shape of df_cross (1712, 285)
----------------------------------------------------
Working on group: 154 with shape (13, 121)
Shape of df_cross (1725, 285)
----------------------------------------------------
Working on group: 155 with shape (8, 121)
Shape of df_cross (1733, 285)
----------------------------------------------------
Working on group: 156 with shape (14, 121)
Shape of df_cross (1747, 285)
----------------------------------------------------
Working on group: 157 with shape (13, 121)
Shape of df_cross (1760, 285)
----------------------------------------------------
Working on group: 158 with shape (1, 121)
Shape of df_cross (1761, 285)
----------------------------------------------------
Working on group: 159 with shape (12, 121)
Shape of df_cross (1773, 285)
----------------------------------------------------
Working on group: 160 with shape (6, 121)
Shape of df_cross (1779, 285)
----------------------------------------------------
Working on group: 161 with shape (8, 121)
Shape of df_cross (1787, 285)
----------------------------------------------------
Working on group: 162 with shape (1, 121)
Shape of df_cross (1788, 285)
----------------------------------------------------
Working on group: 163 with shape (13, 121)
Shape of df_cross (1801, 285)
----------------------------------------------------
Working on group: 164 with shape (3, 121)
Shape of df_cross (1804, 285)
----------------------------------------------------
Working on group: 165 with shape (4, 121)
Shape of df_cross (1808, 285)
----------------------------------------------------
Working on group: 166 with shape (14, 121)
Shape of df_cross (1822, 285)
----------------------------------------------------
Working on group: 167 with shape (10, 121)
Shape of df_cross (1832, 285)
----------------------------------------------------
Working on group: 168 with shape (14, 121)
Shape of df_cross (1846, 285)
----------------------------------------------------
Working on group: 169 with shape (14, 121)
Shape of df_cross (1860, 285)
----------------------------------------------------
Working on group: 170 with shape (9, 121)
Shape of df_cross (1869, 285)
----------------------------------------------------
Working on group: 171 with shape (14, 121)
Shape of df_cross (1883, 285)
----------------------------------------------------
Working on group: 172 with shape (8, 121)
Shape of df_cross (1891, 285)
----------------------------------------------------
Working on group: 173 with shape (4, 121)
Shape of df_cross (1895, 285)
----------------------------------------------------
Working on group: 174 with shape (6, 121)
Shape of df_cross (1901, 285)
----------------------------------------------------
Working on group: 175 with shape (5, 121)
Shape of df_cross (1906, 285)
----------------------------------------------------
Working on group: 176 with shape (11, 121)
Shape of df_cross (1917, 285)
----------------------------------------------------
Working on group: 177 with shape (9, 121)
Shape of df_cross (1926, 285)
----------------------------------------------------
Working on group: 178 with shape (5, 121)
Shape of df_cross (1931, 285)
----------------------------------------------------
Working on group: 179 with shape (13, 121)
Shape of df_cross (1944, 285)
----------------------------------------------------
Working on group: 180 with shape (5, 121)
Shape of df_cross (1949, 285)
----------------------------------------------------
Working on group: 181 with shape (11, 121)
Shape of df_cross (1960, 285)
----------------------------------------------------
Working on group: 182 with shape (10, 121)
Shape of df_cross (1970, 285)
----------------------------------------------------
Working on group: 183 with shape (4, 121)
Shape of df_cross (1974, 285)
----------------------------------------------------
Working on group: 184 with shape (6, 121)
Shape of df_cross (1980, 285)
----------------------------------------------------
Working on group: 185 with shape (12, 121)
Shape of df_cross (1992, 285)
----------------------------------------------------
Working on group: 186 with shape (4, 121)
Shape of df_cross (1996, 285)
----------------------------------------------------
Working on group: 187 with shape (5, 121)
Shape of df_cross (2001, 285)
----------------------------------------------------
Working on group: 188 with shape (6, 121)
Shape of df_cross (2007, 285)
----------------------------------------------------
Working on group: 189 with shape (12, 121)
Shape of df_cross (2019, 285)
----------------------------------------------------
Working on group: 190 with shape (13, 121)
Shape of df_cross (2032, 285)
----------------------------------------------------
Working on group: 191 with shape (7, 121)
Shape of df_cross (2039, 285)
----------------------------------------------------
Working on group: 192 with shape (13, 121)
Shape of df_cross (2052, 285)
----------------------------------------------------
Working on group: 193 with shape (14, 121)
Shape of df_cross (2066, 285)
----------------------------------------------------
Working on group: 194 with shape (2, 121)
Shape of df_cross (2068, 285)
----------------------------------------------------
Working on group: 195 with shape (14, 121)
Shape of df_cross (2082, 285)
----------------------------------------------------
Working on group: 196 with shape (14, 121)
Shape of df_cross (2096, 285)
----------------------------------------------------
Working on group: 197 with shape (13, 121)
Shape of df_cross (2109, 285)
----------------------------------------------------
Working on group: 198 with shape (1, 121)
Shape of df_cross (2110, 285)
----------------------------------------------------
Working on group: 199 with shape (13, 121)
Shape of df_cross (2123, 285)
----------------------------------------------------
Working on group: 200 with shape (1, 121)
Shape of df_cross (2124, 285)
----------------------------------------------------
Working on group: 201 with shape (12, 121)
Shape of df_cross (2136, 285)
----------------------------------------------------
Working on group: 202 with shape (12, 121)
Shape of df_cross (2148, 285)
----------------------------------------------------
Working on group: 203 with shape (10, 121)
Shape of df_cross (2158, 285)
----------------------------------------------------
Working on group: 204 with shape (6, 121)
Shape of df_cross (2164, 285)
----------------------------------------------------
Working on group: 205 with shape (3, 121)
Shape of df_cross (2167, 285)
----------------------------------------------------
Working on group: 206 with shape (12, 121)
Shape of df_cross (2179, 285)
----------------------------------------------------
Working on group: 207 with shape (5, 121)
Shape of df_cross (2184, 285)
----------------------------------------------------
Working on group: 208 with shape (5, 121)

Shape of df_cross (2189, 285)
----------------------------------------------------
Working on group: 209 with shape (13, 121)
Shape of df_cross (2202, 285)
----------------------------------------------------
Working on group: 210 with shape (13, 121)
Shape of df_cross (2215, 285)
----------------------------------------------------
Working on group: 211 with shape (13, 121)
Shape of df_cross (2228, 285)
----------------------------------------------------
Working on group: 212 with shape (13, 121)
Shape of df_cross (2241, 285)
----------------------------------------------------
Working on group: 213 with shape (13, 121)
Shape of df_cross (2254, 285)
----------------------------------------------------
Working on group: 214 with shape (14, 121)
Shape of df_cross (2268, 285)
----------------------------------------------------
Working on group: 215 with shape (12, 121)
Shape of df_cross (2280, 285)
----------------------------------------------------
Working on group: 216 with shape (9, 121)
Shape of df_cross (2289, 285)
----------------------------------------------------
Working on group: 217 with shape (14, 121)
Shape of df_cross (2303, 285)
----------------------------------------------------
Working on group: 218 with shape (14, 121)
Shape of df_cross (2317, 285)
----------------------------------------------------
Working on group: 219 with shape (9, 121)
Shape of df_cross (2326, 285)
----------------------------------------------------
Working on group: 220 with shape (14, 121)
Shape of df_cross (2340, 285)
----------------------------------------------------
Working on group: 221 with shape (14, 121)
Shape of df_cross (2354, 285)
----------------------------------------------------
Working on group: 222 with shape (12, 121)
Shape of df_cross (2366, 285)
----------------------------------------------------
Working on group: 223 with shape (7, 121)
Shape of df_cross (2373, 285)
----------------------------------------------------
Working on group: 224 with shape (12, 121)
Shape of df_cross (2385, 285)
----------------------------------------------------
Working on group: 225 with shape (8, 121)
Shape of df_cross (2393, 285)
----------------------------------------------------
Working on group: 226 with shape (12, 121)
Shape of df_cross (2405, 285)
----------------------------------------------------
Working on group: 227 with shape (13, 121)
Shape of df_cross (2418, 285)
----------------------------------------------------
Working on group: 228 with shape (12, 121)
Shape of df_cross (2430, 285)
----------------------------------------------------
Working on group: 229 with shape (2, 121)
Shape of df_cross (2432, 285)
----------------------------------------------------
Working on group: 230 with shape (11, 121)
Shape of df_cross (2443, 285)
----------------------------------------------------
Working on group: 231 with shape (14, 121)
Shape of df_cross (2457, 285)
----------------------------------------------------
Working on group: 232 with shape (5, 121)
Shape of df_cross (2462, 285)
----------------------------------------------------
Working on group: 233 with shape (14, 121)
Shape of df_cross (2476, 285)
----------------------------------------------------
Working on group: 234 with shape (4, 121)
Shape of df_cross (2480, 285)
----------------------------------------------------
Working on group: 235 with shape (2, 121)
Shape of df_cross (2482, 285)
----------------------------------------------------
Working on group: 236 with shape (14, 121)
Shape of df_cross (2496, 285)
----------------------------------------------------
Working on group: 237 with shape (6, 121)
Shape of df_cross (2502, 285)
----------------------------------------------------
Working on group: 238 with shape (4, 121)
Shape of df_cross (2506, 285)
----------------------------------------------------
Working on group: 239 with shape (8, 121)
Shape of df_cross (2514, 285)
----------------------------------------------------
Working on group: 240 with shape (13, 121)
Shape of df_cross (2527, 285)
----------------------------------------------------
Working on group: 241 with shape (4, 121)
Shape of df_cross (2531, 285)
----------------------------------------------------
Working on group: 242 with shape (12, 121)
Shape of df_cross (2543, 285)
----------------------------------------------------
Working on group: 243 with shape (6, 121)
Shape of df_cross (2549, 285)
----------------------------------------------------
Working on group: 244 with shape (6, 121)
Shape of df_cross (2555, 285)
----------------------------------------------------
Working on group: 245 with shape (9, 121)
Shape of df_cross (2564, 285)
----------------------------------------------------
Working on group: 246 with shape (9, 121)
Shape of df_cross (2573, 285)
----------------------------------------------------
Working on group: 247 with shape (6, 121)
Shape of df_cross (2579, 285)
----------------------------------------------------
Working on group: 248 with shape (10, 121)
Shape of df_cross (2589, 285)
----------------------------------------------------
Working on group: 249 with shape (14, 121)
Shape of df_cross (2603, 285)
----------------------------------------------------
Working on group: 250 with shape (7, 121)
Shape of df_cross (2610, 285)
----------------------------------------------------
Working on group: 251 with shape (14, 121)
Shape of df_cross (2624, 285)
----------------------------------------------------
Working on group: 252 with shape (2, 121)
Shape of df_cross (2626, 285)
----------------------------------------------------
Working on group: 253 with shape (7, 121)
Shape of df_cross (2633, 285)
----------------------------------------------------
Working on group: 254 with shape (14, 121)
Shape of df_cross (2647, 285)
----------------------------------------------------
Working on group: 255 with shape (3, 121)
Shape of df_cross (2650, 285)
----------------------------------------------------
Working on group: 256 with shape (14, 121)
Shape of df_cross (2664, 285)
----------------------------------------------------
Working on group: 257 with shape (7, 121)
Shape of df_cross (2671, 285)
----------------------------------------------------
Working on group: 258 with shape (14, 121)
Shape of df_cross (2685, 285)
----------------------------------------------------
Working on group: 259 with shape (12, 121)
Shape of df_cross (2697, 285)
----------------------------------------------------
Working on group: 260 with shape (14, 121)
Shape of df_cross (2711, 285)
----------------------------------------------------
Working on group: 261 with shape (12, 121)
Shape of df_cross (2723, 285)
----------------------------------------------------
Working on group: 262 with shape (14, 121)
Shape of df_cross (2737, 285)
----------------------------------------------------
Working on group: 263 with shape (6, 121)
Shape of df_cross (2743, 285)
----------------------------------------------------
Working on group: 264 with shape (11, 121)
Shape of df_cross (2754, 285)
----------------------------------------------------
Working on group: 265 with shape (10, 121)
Shape of df_cross (2764, 285)
----------------------------------------------------
Working on group: 266 with shape (10, 121)
Shape of df_cross (2774, 285)
----------------------------------------------------
Working on group: 267 with shape (13, 121)
Shape of df_cross (2787, 285)
----------------------------------------------------
Working on group: 268 with shape (12, 121)
Shape of df_cross (2799, 285)
----------------------------------------------------
Working on group: 269 with shape (3, 121)
Shape of df_cross (2802, 285)
----------------------------------------------------
Working on group: 270 with shape (13, 121)
Shape of df_cross (2815, 285)
----------------------------------------------------
Working on group: 271 with shape (13, 121)
Shape of df_cross (2828, 285)
----------------------------------------------------
Working on group: 272 with shape (7, 121)
Shape of df_cross (2835, 285)
----------------------------------------------------
Working on group: 273 with shape (2, 121)
Shape of df_cross (2837, 285)
----------------------------------------------------
Working on group: 274 with shape (2, 121)
Shape of df_cross (2839, 285)
----------------------------------------------------
Working on group: 275 with shape (1, 121)
Shape of df_cross (2840, 285)
----------------------------------------------------
Working on group: 276 with shape (12, 121)
Shape of df_cross (2852, 285)
----------------------------------------------------
Working on group: 277 with shape (9, 121)

Shape of df_cross (2861, 285)
----------------------------------------------------
Working on group: 278 with shape (3, 121)
Shape of df_cross (2864, 285)
----------------------------------------------------
Working on group: 279 with shape (6, 121)
Shape of df_cross (2870, 285)
----------------------------------------------------
Working on group: 280 with shape (1, 121)
Shape of df_cross (2871, 285)
----------------------------------------------------
Working on group: 281 with shape (13, 121)
Shape of df_cross (2884, 285)
----------------------------------------------------
Working on group: 282 with shape (4, 121)
Shape of df_cross (2888, 285)
----------------------------------------------------
Working on group: 283 with shape (4, 121)
Shape of df_cross (2892, 285)
----------------------------------------------------
Working on group: 284 with shape (5, 121)
Shape of df_cross (2897, 285)
----------------------------------------------------
Working on group: 285 with shape (3, 121)
Shape of df_cross (2900, 285)
----------------------------------------------------
Working on group: 286 with shape (3, 121)
Shape of df_cross (2903, 285)
----------------------------------------------------
Working on group: 287 with shape (1, 121)
Shape of df_cross (2904, 285)
----------------------------------------------------
Working on group: 288 with shape (1, 121)
Shape of df_cross (2905, 285)
----------------------------------------------------
Working on group: 289 with shape (4, 121)
Shape of df_cross (2909, 285)
----------------------------------------------------
Working on group: 290 with shape (2, 121)
Shape of df_cross (2911, 285)
----------------------------------------------------
Working on group: 291 with shape (1, 121)
Shape of df_cross (2912, 285)
----------------------------------------------------
Working on group: 292 with shape (4, 121)
Shape of df_cross (2916, 285)
----------------------------------------------------
Working on group: 293 with shape (1, 121)
Shape of df_cross (2917, 285)
----------------------------------------------------
Working on group: 294 with shape (1, 121)
Shape of df_cross (2918, 285)
----------------------------------------------------
Working on group: 295 with shape (4, 121)
Shape of df_cross (2922, 285)
----------------------------------------------------
Working on group: 296 with shape (4, 121)
Shape of df_cross (2926, 285)
----------------------------------------------------
Working on group: 297 with shape (13, 121)
Shape of df_cross (2939, 285)
----------------------------------------------------
Working on group: 298 with shape (3, 121)
Shape of df_cross (2942, 285)
----------------------------------------------------
Working on group: 299 with shape (4, 121)
Shape of df_cross (2946, 285)
----------------------------------------------------
Working on group: 300 with shape (1, 121)
Shape of df_cross (2947, 285)
----------------------------------------------------
Working on group: 301 with shape (4, 121)
Shape of df_cross (2951, 285)
----------------------------------------------------
Working on group: 302 with shape (2, 121)
Shape of df_cross (2953, 285)
----------------------------------------------------
Working on group: 303 with shape (4, 121)
Shape of df_cross (2957, 285)
----------------------------------------------------
Working on group: 304 with shape (3, 121)
Shape of df_cross (2960, 285)
----------------------------------------------------
Working on group: 305 with shape (14, 121)
Shape of df_cross (2974, 285)
----------------------------------------------------
Working on group: 306 with shape (4, 121)
Shape of df_cross (2978, 285)
----------------------------------------------------
Working on group: 307 with shape (14, 121)
Shape of df_cross (2992, 285)
----------------------------------------------------
Working on group: 308 with shape (1, 121)
Shape of df_cross (2993, 285)
----------------------------------------------------
Working on group: 309 with shape (14, 121)
Shape of df_cross (3007, 285)
----------------------------------------------------
Working on group: 310 with shape (1, 121)
Shape of df_cross (3008, 285)
----------------------------------------------------
Working on group: 311 with shape (3, 121)
Shape of df_cross (3011, 285)
----------------------------------------------------
Working on group: 312 with shape (1, 121)
Shape of df_cross (3012, 285)
----------------------------------------------------
Working on group: 313 with shape (4, 121)
Shape of df_cross (3016, 285)
----------------------------------------------------
Working on group: 314 with shape (2, 121)
Shape of df_cross (3018, 285)
----------------------------------------------------
Working on group: 315 with shape (5, 121)
Shape of df_cross (3023, 285)
----------------------------------------------------
Working on group: 316 with shape (4, 121)
Shape of df_cross (3027, 285)
----------------------------------------------------
Working on group: 317 with shape (2, 121)
Shape of df_cross (3029, 285)
----------------------------------------------------
Working on group: 318 with shape (2, 121)
Shape of df_cross (3031, 285)
----------------------------------------------------
Working on group: 319 with shape (1, 121)
Shape of df_cross (3032, 285)
----------------------------------------------------
Working on group: 320 with shape (1, 121)
Shape of df_cross (3033, 285)
----------------------------------------------------
Working on group: 321 with shape (6, 121)
Shape of df_cross (3039, 285)
----------------------------------------------------
Working on group: 322 with shape (14, 121)
Shape of df_cross (3053, 285)
----------------------------------------------------
Working on group: 323 with shape (7, 121)
Shape of df_cross (3060, 285)
----------------------------------------------------
Working on group: 324 with shape (2, 121)
Shape of df_cross (3062, 285)
----------------------------------------------------
Working on group: 325 with shape (14, 121)
Shape of df_cross (3076, 285)
----------------------------------------------------
Working on group: 326 with shape (7, 121)
Shape of df_cross (3083, 285)
----------------------------------------------------
Working on group: 327 with shape (14, 121)
Shape of df_cross (3097, 285)
----------------------------------------------------
Working on group: 328 with shape (14, 121)
Shape of df_cross (3111, 285)
----------------------------------------------------
Working on group: 329 with shape (4, 121)
Shape of df_cross (3115, 285)
----------------------------------------------------
Working on group: 330 with shape (4, 121)
Shape of df_cross (3119, 285)
----------------------------------------------------
Working on group: 331 with shape (7, 121)
Shape of df_cross (3126, 285)
----------------------------------------------------
Working on group: 332 with shape (1, 121)
Shape of df_cross (3127, 285)
----------------------------------------------------
Working on group: 333 with shape (3, 121)
Shape of df_cross (3130, 285)
----------------------------------------------------
Working on group: 334 with shape (3, 121)
Shape of df_cross (3133, 285)
----------------------------------------------------
Working on group: 335 with shape (1, 121)
Shape of df_cross (3134, 285)
----------------------------------------------------
Working on group: 336 with shape (3, 121)
Shape of df_cross (3137, 285)
----------------------------------------------------
Working on group: 337 with shape (8, 121)
Shape of df_cross (3145, 285)
----------------------------------------------------
Working on group: 338 with shape (14, 121)
Shape of df_cross (3159, 285)
----------------------------------------------------
Working on group: 339 with shape (5, 121)
Shape of df_cross (3164, 285)
----------------------------------------------------
Working on group: 340 with shape (5, 121)
Shape of df_cross (3169, 285)
----------------------------------------------------
Working on group: 341 with shape (1, 121)
Shape of df_cross (3170, 285)
----------------------------------------------------
Working on group: 342 with shape (7, 121)
Shape of df_cross (3177, 285)
----------------------------------------------------
Working on group: 343 with shape (5, 121)
Shape of df_cross (3182, 285)
----------------------------------------------------
Working on group: 344 with shape (1, 121)
Shape of df_cross (3183, 285)
----------------------------------------------------
Working on group: 345 with shape (14, 121)
Shape of df_cross (3197, 285)
----------------------------------------------------
Working on group: 346 with shape (4, 121)
Shape of df_cross (3201, 285)
----------------------------------------------------
Working on group: 347 with shape (4, 121)

Shape of df_cross (3205, 285)
----------------------------------------------------
Working on group: 348 with shape (2, 121)
Shape of df_cross (3207, 285)
----------------------------------------------------
Working on group: 349 with shape (13, 121)
Shape of df_cross (3220, 285)
----------------------------------------------------
Working on group: 350 with shape (3, 121)
Shape of df_cross (3223, 285)
----------------------------------------------------
Working on group: 351 with shape (7, 121)
Shape of df_cross (3230, 285)
----------------------------------------------------
Working on group: 352 with shape (2, 121)
Shape of df_cross (3232, 285)
----------------------------------------------------
Working on group: 353 with shape (1, 121)
Shape of df_cross (3233, 285)
----------------------------------------------------
Working on group: 354 with shape (1, 121)
Shape of df_cross (3234, 285)
----------------------------------------------------
Working on group: 355 with shape (4, 121)
Shape of df_cross (3238, 285)
----------------------------------------------------
Working on group: 356 with shape (3, 121)
Shape of df_cross (3241, 285)
----------------------------------------------------
Working on group: 357 with shape (1, 121)
Shape of df_cross (3242, 285)
----------------------------------------------------
Working on group: 358 with shape (10, 121)
Shape of df_cross (3252, 285)
----------------------------------------------------
Working on group: 359 with shape (1, 121)
Shape of df_cross (3253, 285)
----------------------------------------------------
Working on group: 360 with shape (14, 121)
Shape of df_cross (3267, 285)
----------------------------------------------------
Working on group: 361 with shape (13, 121)
Shape of df_cross (3280, 285)
----------------------------------------------------
Working on group: 362 with shape (13, 121)
Shape of df_cross (3293, 285)
----------------------------------------------------
Working on group: 363 with shape (5, 121)
Shape of df_cross (3298, 285)
----------------------------------------------------
Working on group: 364 with shape (7, 121)
Shape of df_cross (3305, 285)
----------------------------------------------------
Working on group: 365 with shape (1, 121)
Shape of df_cross (3306, 285)
----------------------------------------------------
Working on group: 366 with shape (11, 121)
Shape of df_cross (3317, 285)
----------------------------------------------------
Working on group: 367 with shape (13, 121)
Shape of df_cross (3330, 285)
----------------------------------------------------
Working on group: 368 with shape (14, 121)
Shape of df_cross (3344, 285)
----------------------------------------------------
Working on group: 369 with shape (5, 121)
Shape of df_cross (3349, 285)
----------------------------------------------------
Working on group: 370 with shape (5, 121)
Shape of df_cross (3354, 285)
----------------------------------------------------
Working on group: 371 with shape (5, 121)
Shape of df_cross (3359, 285)
----------------------------------------------------
Working on group: 372 with shape (5, 121)
Shape of df_cross (3364, 285)
----------------------------------------------------
Working on group: 373 with shape (3, 121)
Shape of df_cross (3367, 285)
----------------------------------------------------
Working on group: 374 with shape (6, 121)
Shape of df_cross (3373, 285)
----------------------------------------------------
Working on group: 375 with shape (4, 121)
Shape of df_cross (3377, 285)
----------------------------------------------------
Working on group: 376 with shape (14, 121)
Shape of df_cross (3391, 285)
----------------------------------------------------
Working on group: 377 with shape (5, 121)
Shape of df_cross (3396, 285)
----------------------------------------------------
Working on group: 378 with shape (12, 121)
Shape of df_cross (3408, 285)
----------------------------------------------------
Working on group: 379 with shape (4, 121)
Shape of df_cross (3412, 285)
----------------------------------------------------
Working on group: 380 with shape (12, 121)
Shape of df_cross (3424, 285)
----------------------------------------------------
Working on group: 381 with shape (3, 121)
Shape of df_cross (3427, 285)
----------------------------------------------------
Working on group: 382 with shape (12, 121)
Shape of df_cross (3439, 285)
----------------------------------------------------
Working on group: 383 with shape (4, 121)
Shape of df_cross (3443, 285)
----------------------------------------------------
Working on group: 384 with shape (4, 121)
Shape of df_cross (3447, 285)
----------------------------------------------------
Working on group: 385 with shape (12, 121)
Shape of df_cross (3459, 285)
----------------------------------------------------
Working on group: 386 with shape (2, 121)
Shape of df_cross (3461, 285)
----------------------------------------------------
Working on group: 387 with shape (5, 121)
Shape of df_cross (3466, 285)
----------------------------------------------------
Working on group: 388 with shape (1, 121)
Shape of df_cross (3467, 285)
----------------------------------------------------
Working on group: 389 with shape (9, 121)
Shape of df_cross (3476, 285)
----------------------------------------------------
Working on group: 390 with shape (6, 121)
Shape of df_cross (3482, 285)
----------------------------------------------------
Working on group: 391 with shape (13, 121)
Shape of df_cross (3495, 285)
----------------------------------------------------
Working on group: 392 with shape (3, 121)
Shape of df_cross (3498, 285)
----------------------------------------------------
Working on group: 393 with shape (3, 121)
Shape of df_cross (3501, 285)
----------------------------------------------------
Working on group: 394 with shape (14, 121)
Shape of df_cross (3515, 285)
----------------------------------------------------
Working on group: 395 with shape (11, 121)
Shape of df_cross (3526, 285)
----------------------------------------------------
Working on group: 396 with shape (1, 121)
Shape of df_cross (3527, 285)
----------------------------------------------------
Working on group: 397 with shape (5, 121)
Shape of df_cross (3532, 285)
----------------------------------------------------
Working on group: 398 with shape (2, 121)
Shape of df_cross (3534, 285)
----------------------------------------------------
Working on group: 399 with shape (5, 121)
Shape of df_cross (3539, 285)
----------------------------------------------------
Working on group: 400 with shape (3, 121)
Shape of df_cross (3542, 285)
----------------------------------------------------
Working on group: 401 with shape (5, 121)
Shape of df_cross (3547, 285)
----------------------------------------------------
Working on group: 402 with shape (6, 121)
Shape of df_cross (3553, 285)
----------------------------------------------------
Working on group: 403 with shape (13, 121)
Shape of df_cross (3566, 285)
----------------------------------------------------
Working on group: 404 with shape (3, 121)
Shape of df_cross (3569, 285)
----------------------------------------------------
Working on group: 405 with shape (7, 121)
Shape of df_cross (3576, 285)
----------------------------------------------------
Working on group: 406 with shape (2, 121)
Shape of df_cross (3578, 285)
----------------------------------------------------
Working on group: 407 with shape (3, 121)
Shape of df_cross (3581, 285)
----------------------------------------------------
Working on group: 408 with shape (14, 121)
Shape of df_cross (3595, 285)
----------------------------------------------------
Working on group: 409 with shape (13, 121)
Shape of df_cross (3608, 285)
----------------------------------------------------
Working on group: 410 with shape (12, 121)
Shape of df_cross (3620, 285)
----------------------------------------------------
Working on group: 411 with shape (4, 121)
Shape of df_cross (3624, 285)
----------------------------------------------------
Working on group: 412 with shape (3, 121)
Shape of df_cross (3627, 285)
----------------------------------------------------
Working on group: 413 with shape (1, 121)
Shape of df_cross (3628, 285)
----------------------------------------------------
Working on group: 414 with shape (2, 121)
Shape of df_cross (3630, 285)
----------------------------------------------------
Working on group: 415 with shape (7, 121)
Shape of df_cross (3637, 285)
----------------------------------------------------
Working on group: 416 with shape (9, 121)
Shape of df_cross (3646, 285)
----------------------------------------------------
Working on group: 417 with shape (4, 121)
Shape of df_cross (3650, 285)
----------------------------------------------------
Working on group: 418 with shape (2, 121)
Shape of df_cross (3652, 285)
----------------------------------------------------
Working on group: 419 with shape (3, 121)

Shape of df_cross (3655, 285)
----------------------------------------------------
Working on group: 420 with shape (3, 121)
Shape of df_cross (3658, 285)
----------------------------------------------------
Working on group: 421 with shape (6, 121)
Shape of df_cross (3664, 285)
----------------------------------------------------
Working on group: 422 with shape (8, 121)
Shape of df_cross (3672, 285)

,Company,Time,Financial Distress,x1,x2,x3,x4,x5,x6,x7,...,lag_2_x73,lag_2_x74,lag_2_x75,lag_2_x76,lag_2_x77,lag_2_x78,lag_2_x79,lag_2_x81,lag_2_x82,lag_2_x83
2,1,3,-0.32539,1.05290,-0.059379,0.92242,0.72926,0.020476,0.044865,0.43292,...,36.0,85.437,27.07,26.102,16.0,16.0,0.2,0.060390,30.0,49.0
3,1,4,-0.56657,1.11310,-0.015229,0.85888,0.80974,0.076037,0.091033,0.67546,...,36.0,107.090,31.31,30.194,17.0,16.0,0.4,0.010636,31.0,50.0
6,2,3,1.20020,0.97059,0.076064,0.90677,0.80980,0.165920,-0.024649,0.73660,...,36.0,85.437,27.07,26.102,16.0,16.0,0.2,1.251000,7.0,27.0
7,2,4,2.23480,1.05900,0.130200,0.81811,0.87599,0.234450,0.045576,0.78727,...,36.0,107.090,31.31,30.194,17.0,16.0,0.4,1.357300,8.0,28.0
8,2,5,1.34050,1.12450,0.147840,0.75871,1.07990,0.276440,0.089408,0.80356,...,35.0,120.870,36.07,35.273,17.0,15.0,-0.2,0.007188,9.0,29.0

### Time Series Splits per group

Next, we will write a helper function, `ts_sample` to create time series splits for forward chaining. The function will return a list of tuples. Each tuple will contain 2 values - the train index and the test index.

In [51]:
# Create Time-Series sampling function to draw train-test splits
def ts_sample(df_input, train_rows, test_rows):
    """
    Function to draw specified train_rows and test_rows in time-series rolling sampling format
    :param df_input: Input DataFrame
    :param train_rows: Number of rows to use as training set
    :param test_rows: Number of rows to use as test set
    :return: List of tuples. Each tuple contains 2 lists of indexes corresponding to train and test index
    """
    if df_input.shape[0] <= train_rows:
        return [(df_input.index, pd.Index([]))]

    i = 0
    train_lower, train_upper = 0, train_rows + test_rows*i
    test_lower, test_upper = train_upper, min(train_upper + test_rows, df_input.shape[0])

    result_list = []
    while train_upper < df_input.shape[0]:
        result_list += [(df_input.index[train_lower:train_upper],
                         df_input.index[test_lower:test_upper])]

        # Update counter and calculate new indexes
        i += 1
        train_upper = train_rows + test_rows*i
        test_lower, test_upper = train_upper, min(train_upper + test_rows, df_input.shape[0])

    return result_list

### Using ts_sample() per group

The next step is to use `ts_sample` per group of the data. This will give rise to 1 list of index tuples per group.

Moreover, because the number of time periods per group is not the same, the size of these lengths will also vary. Therefore, we will need a way to pad the shorter groups.


For each group, apply function `ts_sample`. Depending on size of group, the output size of ts_sample (which is a list of (train_index, test_index)) tuples will vary. However, we want the size of each of these lists to be equal.

To do that, we will augment the smaller lists by appending the last seen `train_index` and `test_index`. For example:
```
group 1 => [(Int64Index([1, 2, 3], dtype='int64'), (Int64Index[4, 5], dtype='int64)),
             (Int64Index([1, 2, 3, 4, 5], dtype='int64'), (Int64Index([6], dtype='int64'))]
 group 2 => [(Int64Index([10, 11, 12], dtype='int64'), (Int64Index[13, 14], dtype='int64')),
             (Int64Index([10, 11, 12, 13, 14), Int64Index([15, 16])),
             (Int64Index([10, 11, 12, 13, 14, 15, 16]), Int64Index([17, 18]))]
```
             
 Above, group 2 has 3 folds whereas group 1 has 2. We will augment group 1 to also have 3 folds:
 ```
 group 1 => [(Int64Index([1, 2, 3], dtype='int64'), (Int64Index[4, 5], dtype='int64)),
             (Int64Index([1, 2, 3, 4, 5], dtype='int64'), (Int64Index([6], dtype='int64')),
             (Int64Index([1, 2, 3, 4, 5, 6]), Int64Index([]))]
             ```

In [52]:
grouped_company_cross = df_cross.groupby('Company')
acc = []
max_size = 0
for name, group in grouped_company_cross:
    # For each group, calculate ts_sample and also store largest ts_sample output size
    group_res = ts_sample(group, 4, 4)
    acc += [group_res]
    # print('Working on name:' + str(name))
    # print(acc)

    if len(group_res) > max_size:
        # Update the max_size that we have observed so far
        max_size = len(group_res)

        # All existing lists (apart from the one added latest)in acc need to be augmented
        # to match the new max_size by appending the last value in those list (combining train and test)
        for idx, list_i in enumerate(acc):
            if len(list_i) < max_size:
                last_train, last_test = list_i[-1][0], list_i[-1][1]
                list_i[len(list_i):max_size] = [(last_train.union(last_test),
                                                 pd.Index([]))] * (max_size - len(list_i))

                acc[idx] = list_i

    elif len(group_res) < max_size:
        # Only the last appended list (group_res) needs to be augmented
        last_train, last_test = acc[-1][-1][0], acc[-1][-1][1]
        acc[-1] = acc[-1] + [(last_train.union(last_test), pd.Index([]))] * (max_size - len(acc[-1]))


print(acc[0:2])

[[(Int64Index([2, 3], dtype='int64'), Index([], dtype='object')), (Int64Index([2, 3], dtype='int64'), Index([], dtype='object'))], [(Int64Index([6, 7, 8, 9], dtype='int64'), Int64Index([10, 11, 12, 13], dtype='int64')), (Int64Index([6, 7, 8, 9, 10, 11, 12, 13], dtype='int64'), Int64Index([14, 15, 16, 17], dtype='int64'))]]

`acc` now contains a list of lists, where each internal list contains tuples of `train_index`, `test_index`:
```
[[(group_1_train_index1, group_1_test_index1), (group_1_train_index2, group_1_test_index2)],
  [(group_2_train_index1, group_2_test_index1), (group_2_train_index2, group_2_test_index2)],
  [(group_3_train_index1, group_3_test_index1), (group_3_train_index2, group_3_test_index2)]]
```

Our goal is to drill-down by removing group-divisions:
```
[(train_index1, test_index1), (train_index2, test_index2)]
```

In [53]:

flat_acc = []
for idx, list_i in enumerate(acc):
    if len(flat_acc) == 0:
        flat_acc += list_i
        continue

    for inner_idx, tuple_i in enumerate(list_i):
        flat_acc[inner_idx] = (flat_acc[inner_idx][0].union(tuple_i[0]),
                               flat_acc[inner_idx][1].union(tuple_i[1]))


print(flat_acc[0:1])

[(Int64Index([   2,    3,    4,    5,    6,    7,    8,    9,   21,   22,
            ...
            3641, 3642, 3648, 3649, 3654, 3657, 3660, 3661, 3662, 3663],
           dtype='int64', length=1260), Int64Index([   6,    7,   10,   11,   12,   13,   25,   26,   27,   28,
            ...
            3603, 3604, 3614, 3615, 3616, 3617, 3636, 3643, 3644, 3645],
           dtype='int64', length=919))]

### Modeling
Now that we have our lagged features as well as the indexes ready for Forward Chaining, we can proceed with modeling.

However, one decision that we will need to take into account is whether we want to treat this as a classification problem or a regression problem. The `Financial Distress` column is real-valued, containing both positive and negative values. As per the Data Dictionary, we should consider the company financially distressed if the 'Financial Distress' column is <= -0.50. Accordingly, we will convert this problem into a classification problem by using that definition.

 [Back to top](#Index:) 
<a id='q06'></a>


### Question 06:

*10 points*

Create a copy of the DataFrame `df_cross()`. Name this new DataFrame `df_model.`  

Modify the column `Financial Distress` in `df_model` so that it contains zeros if the value is greater than -0.5 or 1 otherwise.

In [54]:
### GRADED

### YOUR SOLUTION HERE
df_model = df_cross.copy()
df_model['Financial Distress'] = [0 if x > -0.5 else 1 for x in df_model['Financial Distress'].values]

###
### YOUR CODE HERE
###
df_model.head()

,Company,Time,Financial Distress,x1,x2,x3,x4,x5,x6,x7,...,lag_2_x73,lag_2_x74,lag_2_x75,lag_2_x76,lag_2_x77,lag_2_x78,lag_2_x79,lag_2_x81,lag_2_x82,lag_2_x83
2,1,3,0,1.05290,-0.059379,0.92242,0.72926,0.020476,0.044865,0.43292,...,36.0,85.437,27.07,26.102,16.0,16.0,0.2,0.060390,30.0,49.0
3,1,4,1,1.11310,-0.015229,0.85888,0.80974,0.076037,0.091033,0.67546,...,36.0,107.090,31.31,30.194,17.0,16.0,0.4,0.010636,31.0,50.0
6,2,3,0,0.97059,0.076064,0.90677,0.80980,0.165920,-0.024649,0.73660,...,36.0,85.437,27.07,26.102,16.0,16.0,0.2,1.251000,7.0,27.0
7,2,4,0,1.05900,0.130200,0.81811,0.87599,0.234450,0.045576,0.78727,...,36.0,107.090,31.31,30.194,17.0,16.0,0.4,1.357300,8.0,28.0
8,2,5,0,1.12450,0.147840,0.75871,1.07990,0.276440,0.089408,0.80356,...,35.0,120.870,36.07,35.273,17.0,15.0,-0.2,0.007188,9.0,29.0

In [55]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###

 [Back to top](#Index:) 
<a id='q07'></a>


### Question 07:

*10 points*

Assign all the columns, except ` Financial Distress` of `df_model` to the variable `dependent_cols`. 
Assign  the column ` Financial Distress` of `df_model` to the variable `independent_col`. 

Use a for loop on `flat_acc` to generate the `X_train`, `X_test`, `y_train` and `y_test` sets.

**HINT: Here is the code to generate X_train set. The others are similar**

```Python
X_train = df_model.loc[tuple_i[0]][dependent_cols]
```

In [61]:
### GRADED

### YOUR SOLUTION HERE
dependent_cols  = [col for col in df_model.columns if col != 'Financial Distress']
independent_col = ['Financial Distress']
for idx, tuple_i in enumerate(flat_acc):
    X_train = df_model.loc[tuple_i[0]][dependent_cols]
    X_test = df_model.loc[tuple_i[1]][dependent_cols]
    y_train = df_model.loc[tuple_i[0]][independent_col]
    y_test = df_model.loc[tuple_i[1]][independent_col]

###
### YOUR CODE HERE
###

In [59]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###

Finally, for each entry in `flat_acc`, perform train and test using logistic regression and print the metrics.

In [62]:
for idx, tuple_i in enumerate(flat_acc):
# Fit logistic regression model to train data and test on test data
    lr_mod = LogisticRegression(C=0.01, penalty='l2')  # These should be determined by nested cv
    lr_mod.fit(X_train, y_train)
    
    y_pred_proba = lr_mod.predict_proba(X_test)
    y_pred = lr_mod.predict(X_test)
    
    # Print Confusion Matrix and ROC AUC score
    print('Confusion Matrix:')
    print(confusion_matrix(y_test, y_pred))
    
    print('ROC AUC score:')
    print(roc_auc_score(y_test['Financial Distress'].astype(int), y_pred_proba[:, 1]))

Confusion Matrix:
[[659   1]
 [ 23   0]]
ROC AUC score:
0.7546772068511198
Confusion Matrix:
[[659   1]
 [ 23   0]]
ROC AUC score:
0.7546772068511198